{% extends "base.html" %} <!-- extends the base template -->

{% block content %}

<h3> Login here: </h3>

<form action="/auth">
  <p>
    &emsp; Username:
  </p>
    &emsp; <input type="text" name="username">
  <p>
    &emsp; Password:
  </p>
    &emsp; <input type="text" name="password">
  <br>
  <br>
    &emsp; <input type="submit" name="sub1" value = "Log-in">
</form>

<form action = "/reg1">
  <br>
  &emsp;<input type = "submit" name = "register" value = "Not registered? Click here">
</form>

<div class="container-fluid">
    <div class="row">
        {% for widget in widgets %}
        <div class="col sm-6">
            <div class="card m-3"  style="width: 18rem">
                <div class="card-body">
                    {# widgets: weather, news, recommendations, stocks, fun, sports, space #}
                    {% if widget == "weather" %}
                    <h5 class="card-title">Weather Widget</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Coming soon</h6>
                    <p class="card-text">
                        The weather today is way too cold. You probably don't even want to know the temperature. If you
                        do, however, we'll be able to tell you soon!
                    </p>
                    <a class="card-link" href="/weather">See More</a>
                    {% elif widget == "news" %}
                    <h5 class="card-title">News Widget</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Coming soon</h6>
                    <p class="card-text">
                        I have great news for you! Soon, real news headlines will be provided here by the New York Times
                        API.
                    </p>
                    <a class="card-link" href="/news">See More</a>
                    {% elif widget == "recommendations" %}
                    <h5 class="card-title">Recommendations Widget</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Coming soon</h6>
                    <p class="card-text">
                        I have great recommendations for you! Soon, real recommendations will be provided here by an API.
                    </p>
                    <a class="card-link" href="/recommendations">See More</a>
                    {% elif widget == "stocks" %}
                    <h5 class="card-title">Stocks Widget</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Coming soon</h6>
                    <p class="card-text">
                        I have great news for you! Soon, real stocks will be provided here by an API.
                    </p>
                    <a class="card-link" href="/stocks">See More</a>
                    {% elif widget == "fun" %}
                    <h5 class="card-title">Fun Widget</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Coming soon</h6>
                    <p class="card-text">
                        I have great news for you! Soon, real fun stuff will be provided here by an API.
                    </p>
                    <a class="card-link" href="/fun">See More</a>
                    {% elif widget == "sports" %}
                    <h5 class="card-title">Sports Widget</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Coming soon</h6>
                    <p class="card-text">
                        I have great news for you! Soon, real sports scores will be provided here by an API.
                    </p>
                    <a class="card-link" href="/sports">See More</a>
                    {% elif widget == "space" %}
                    <h5 class="card-title">Space Widget</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Coming soon</h6>
                    <p class="card-text">
                        I have great news for you! Soon, real space stuff will be shown here by the NASA API.
                    </p>
                    <a class="card-link" href="/space">See More</a>
                    {% else %}
                    <h5 class="card-subtitle mb-2 text-muted">
                        Hmmmm… something's not right here
                    </h5>
                    <p class="card-text">
                        It seems like someone tried to use a widget that isn't available.
                    </p>
                    <p class="card-subtitle text-muted">
                        No widget called "{{ widget }}" exists
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row pb-3">
        <div class="col pb-3"></div>
    </div>
    <div class="row pb-3">
        <div class="col pb-3"></div>
    </div>
</div>

{% endblock %}
