<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

<body>
    <form action="/reg2" methods=['GET', 'POST' ]>
        <label for="Username" class="form-label">Username:</label>
        <input type="text" placeholder="Username" name="regUser">
        <label for="Password" class="form-label">Password:</label>
        <input type="text" placeholder="Enter Password" name="regPass">
        <!-- <label for="Confirm" class="form-label">Confirm Password:</label>
        <input type="text" placeholder = "Confirm Password" name="conPass"> -->
        <br>
        <br>
        <input type="submit" name="regSub" value="Register">
    </form>

    <p> {{error}}
    </p>
</body>
{% endblock %}

</html>