{% extends "base.html" %} <!-- extends the base template -->

{% block content %}

<div class="container-fluid">
<div id="carouselExampleCaptions" class="carousel slide container-fluid mx-auto my-3 mx-md-50%" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active bg-{{ theme['main'] }}" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="bg-{{ theme['main'] }}" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" class="bg-{{ theme['main'] }}" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card">
        <img class="card-img-top" src="{{ info['hd_link'][0] }}" alt="{{ info['title'][0] }}">
        <div class="card-body">
          <h5 class="card-text">{{ info['title'][0] }}</h5>
          <p class="card-text">{{ info['description'][0] }}</p>
          <span class="d-grid gap-2">
            <button disabled type="button" class="btn btn-{{ theme['main'] }} mx-auto" data-bs-toggle="#modal" data-bs-target="#exampleModal">View image</button>
          </span>
          <p class="card-text text-muted fst-italic">All images courtesy of NASA</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <img class="card-img-top" src="{{ info['hd_link'][1] }}" alt="{{ info['title'][1] }}">
        <div class="card-body">
          <h5 class="card-text">{{ info['title'][1] }}</h5>
          <p class="card-text">{{ info['title'][1] }}</p>
          <span class="d-grid gap-2">
            <button disabled type="button" class="btn btn-{{ theme['main'] }} mx-auto" data-bs-toggle="#modal" data-bs-target="#exampleModal">View image</button>
          </span>
          <p class="card-text text-muted fst-italic">All images courtesy of NASA</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <img class="card-img-top" src="{{ info['hd_link'][2] }}" alt="{{ info['title'][2] }}">
        <div class="card-body">
          <h5 class="card-text">{{ info['title'][2] }}</h5>
          <p class="card-text">{{ info['title'][2] }}</p>
          <span class="d-grid gap-2">
            <button disabled type="button" class="btn btn-{{ theme['main'] }} mx-auto" data-bs-toggle="#modal" data-bs-target="#exampleModal">View image</button>
          </span>
          <p class="card-text text-muted fst-italic">All images courtesy of NASA</p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon fill-{{ theme['main'] }}" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Modal text
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>

{% endblock content %}