{% extends "base.html" %} <!-- extends the base template -->

{% block content %}

<div class="row my-3 mx-auto">
    <div class="col-4" style="max-width: 200px;">
        <div class="list-group" id="list-tab" role="tablist">
          {% for symbol in symbols %}
            <a class="list-group-item list-group-item-action" id="list-{{symbol}}-list" data-bs-toggle="list" href="#list-{{ symbol }}" role="tab" aria-controls="list-{{symbol}}">{{symbol}}</a>
          {% endfor %}
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          {% for symbol in symbols %}
            <div class="tab-pane fade" id="list-{{symbol}}" role="tabpanel" aria-labelledby="list-{{symbol}}-list">
                <h3 class="">{{symbol}}</h3>
                <h5>Open</h5>
                <p>{{info[symbol]["open"]}}</p>
                <h5>High</h5>
                <p>{{info[symbol]["high"]}}</p>
                <h5>Low</h5>
                <p>{{info[symbol]["low"]}}</p>
                <h5>Close</h5>
                <p>{{info[symbol]["close"]}}</p>
            </div>
          {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
