{% extends "base.html" %} <!-- extends the base template -->

{% block content %}

<div class="container-fluid">
  <br>
  <form action="/weather" methods=['GET', 'POST' ]>
    <div class="row my-3 mx-auto">
      <div class="col">
        <select class="form-select form-select-sm" name="city" aria-label=".form-select-lg example">
          <option selected>Select a location</option>
          {% for city in cities %} <!-- New York City, Los Angeles, Chicago, Boston, London, Beijing, Moscow, Toronto, Mexico City, Tokyo, Shaanghai, Delhi, Sao Paulo  -->
            <option value={{city}}>{{city.replace('+', ' ')}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
    <div class="row my-3 mx-auto">
        <div class="col-4" style="max-width: 200px;">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active bg-{{ theme['main'] }}" id="list-summary-list" data-bs-toggle="list" href="#list-summary" role="tab" aria-controls="list-summary">Summary</a>
                <a class="list-group-item list-group-item-action" id="list-conditions-list" data-bs-toggle="list" href="#list-conditions" role="tab" aria-controls="list-conditions">Conditions</a>
                <a class="list-group-item list-group-item-action" id="list-temperature-list" data-bs-toggle="list" href="#list-temperature" role="tab" aria-controls="list-temperature">Temperature</a>
                <a class="list-group-item list-group-item-action" id="list-wind-list" data-bs-toggle="list" href="#list-wind" role="tab" aria-controls="list-wind">Wind</a>
                <a class="list-group-item list-group-item-action" id="list-hourly-list" data-bs-toggle="list" href="#list-hourly" role="tab" aria-controls="list-hourly">Hourly</a>
                <a class="list-group-item list-group-item-action" id="list-daily-list" data-bs-toggle="list" href="#list-daily" role="tab" aria-controls="list-daily">Daily</a>
                <a class="list-group-item list-group-item-action" id="list-more-list" data-bs-toggle="list" href="#list-more" role="tab" aria-controls="list-more">More</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-summary" role="tabpanel" aria-labelledby="list-summary-list">
                    <img class="img-thumbnail" src="http://openweathermap.org/img/w/{{ info['icon'] }}.png" alt="{{ info['main'] }}">
                    <h3 class="">{{ info['description'] }} today in {{ info['city'] }}</h3>
                    <p>It's currently {{ info['temp'] }}°F. The high today is {{ info['temp_max'] }}°F and the low is {{ info['temp_min'] }}°F.</p>
                </div>
                <div class="tab-pane fade" id="list-conditions" role="tabpanel" aria-labelledby="list-conditions-list">
                    <img class="img-thumbnail" src="https://openweathermap.org/img/w/{{ info['icon'] }}.png" alt="{{ info['main'] }}">
                    <h3 class="">{{ info['description'] }} today in {{ info['city'] }}</h3>
                    {% if info['rain'] %}
                    {% if info['rain']['1h'] and info['rain']['3h'] %}
                    <p>It has rained {{ info['rain']['1h'] }}mm in the last hour, and {{ info['rain']['3h'] }}mm in the last 3 hours.</p>
                    {% elif info['rain']['1h'] %}
                    <p>It has rained {{ info['rain']['1h'] }}mm in the last hour.</p>
                    {% else %}
                    <p>It has rained {{ info['rain']['3h'] }}mm in the last 3 hours.</p>
                    {% endif %}
                    {% endif %}
                    {% if info['snow'] %}
                    {% if info['snow']['1h'] and info['snow']['3h'] %}
                    <p>It has snowed {{ info['snow']['1h'] }}mm in the last hour, and {{ info['snow']['3h'] }}mm in the last 3 hours.</p>
                    {% elif info['snow']['1h'] %}
                    <p>It has snowed {{ info['snow']['1h'] }}mm in the last hour.</p>
                    {% else %}
                    <p>It has snowed {{ info['snow']['3h'] }}mm in the last 3 hours.</p>
                    {% endif %}
                    {% endif %}
                    <p>{{ info['minutely'] }}</p>
                    <p>The visibility today is {{ info['visibility'] }} miles. The cloud cover is {{ info['clouds'] }}%.</p>
                </div>
                <div class="tab-pane fade" id="list-temperature" role="tabpanel" aria-labelledby="list-temperature-list">
                    <h3>{{ info['temp'] }}°F today in {{ info['city'] }}</h3>
                    <p>The high is {{ info['temp_max'] }}°F and the low is {{ info['temp_min'] }}°F.</p>
                    <p>It currently feels {{ info['feels_like'] }}°F.</p>
                </div>
                <div class="tab-pane fade" id="list-wind" role="tabpanel" aria-labelledby="list-wind-list">
                    {% if info['wind'] == None %}
                    <h3>Wind measurements are currently unavailable in {{ info['city'] }}</h3>
                    <p>This often happens at night.</p>
                    {% else %}
                    <h3>The wind speed is {{ info['wind_speed'] }} MPH</h3>
                    <p>The wind has bearing {{ info['wind_deg'] }}° ({% if info['wind_deg'] <= 22.5 %}E{% elif info['wind_deg'] <= 67.5 %}NE{% elif info['wind_deg'] <= 112.5 %}N{% elif info['wind_deg'] <= 157.5 %}NW{% elif info['wind_deg'] <= 202.5 %}W{% elif info['wind_deg'] <= 247.5 %}SW{% elif info['wind_deg'] <= 292.5 %}S{% elif info['wind_deg'] <= 337.5 %}SE{% else %}E{% endif %}).</p>
                    {% if info['wind_gust'] %}<p>Wind gusts may reach speeds up to {{ info['wind_gust'] }} MPH.</p>{% endif %}
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="list-hourly" role="tabpanel" aria-labelledby="list-hourly-list">
                    <h3>Hourly forecast for the next 10 hours in {{ info['city'] }}</h3>
                    <div class="table-responsive">
                        <table class="table table-hover table-borderless table-{{ theme['main'] }} text-{{ theme['text'] }} me-1">
                            <thead>
                            <tr>
                                <th scope="col">Time</th>
                                {% for time in info['hourly'] %}<th scope="col">{{ time['time'] }}</th>{% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">Cond.</th>
                                {% for time in info['hourly'] %}<td><img class="img-thumbnail" style="min-width: 80px;" src="http://openweathermap.org/img/w/{{ time['icon'] }}.png" alt="time['description']"><br>{{ time['description'] }}</td>{% endfor %}
                            </tr>
                            <tr>
                                <th scope="row">Temp.</th>
                                {% for time in info['hourly'] %}<td>{{ time['temp'] }}°F</td>{% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-daily" role="tabpanel" aria-labelledby="list-daily-list">
                    <h3>Daily forecast for the next 7 days in {{ info['city'] }}</h3>
                    <div class="table-responsive">
                        <table class="table table-hover table-borderless table-{{ theme['main'] }} text-{{ theme['text'] }} me-1">
                            <thead>
                            <tr>
                                <th scope="col">Date</th>
                                {% for date in info['daily'] %}<th scope="col">{{ date['date'] }}</th>{% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">Cond.</th>
                                {% for date in info['daily'] %}<td><img class="img-thumbnail" style="min-width: 80px;" src="http://openweathermap.org/img/w/{{ date['icon'] }}.png" alt="date['description']"><br>{{ date['description'] }}</td>{% endfor %}
                            </tr>
                            <tr>
                                <th scope="row">High</th>
                                {% for date in info['daily'] %}<td>{{ date['max'] }}°F</td>{% endfor %}
                            </tr>
                            <tr>
                                <th scope="row">Low</th>
                                {% for date in info['daily'] %}<td>{{ date['min'] }}°F</td>{% endfor %}
                            </tr>
                            <tr>
                                <th scope="row">UVI</th>
                                {% for date in info['daily'] %}<td>{{ date['uvi'] }}</td>{% endfor %}
                            </tr>
                            <tr>
                                <th scope="row">Lunar Phase</th>
                                {% for date in info['daily'] %}<td>{{ date['moon_phase'] }}%</td>{% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-more" role="tabpanel" aria-labelledby="list-more-list">
                    <h3>Weather details for {{ info['city'] }}</h3>
                    <p>The UV Index is {{ info['uvi'] }}.</p>
                    <p>The humidity is {{ info['humidity'] }}%.</p>
                    <p>The dew point is {{ info['dew_point'] }}°F.</p>
                    <p>The pressure is {{ info['pressure'] }} hPa.</p>
                    <p>Sunrise today is {{ info['sunrise'] }} AM, and sunset today is {{ info['sunset'] }} PM.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
